<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/TwitterClone</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/TwitterClone</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TwitterCloneDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=dotnet;Initial Catalog=ReportServer;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TwitterClone.Models.TwitterCloneDbContext, TwitterClone" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ReportServerEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=dotnet;Initial Catalog=ReportServer;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dotnet;Initial Catalog=ReportServer;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ReportServerEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.TwitterContext.csdl|res://*/Models.TwitterContext.ssdl|res://*/Models.TwitterContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dotnet;initial catalog=ReportServer;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TwitterCloneContext" Order="3" Enabled="False">
          <Destination Path="Data Source=dotnet;Initial Catalog=ReportServer;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dotnet;Initial Catalog=ReportServer;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TwitterCloneContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.TwitterContext.csdl|res://*/Models.TwitterContext.ssdl|res://*/Models.TwitterContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dotnet;initial catalog=ReportServer;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TwitterDbContext" Order="4" Enabled="False">
          <Destination Path="Data Source=dotnet;Initial Catalog=ReportServer;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dotnet;Initial Catalog=ReportServer;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TwitterDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=dotnet;initial catalog=ReportServer;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TwitterDbContext-Web.config Connection String">
      <ParameterValue>data source=dotnet;initial catalog=ReportServer;integrated security=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TwitterCloneContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TwitterContext.csdl|res://*/Models.TwitterContext.ssdl|res://*/Models.TwitterContext.msl;provider=System.Data.SqlClient;provider connection string="data source=dotnet;initial catalog=ReportServer;integrated security=True;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ReportServerEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TwitterContext.csdl|res://*/Models.TwitterContext.ssdl|res://*/Models.TwitterContext.msl;provider=System.Data.SqlClient;provider connection string="data source=dotnet;initial catalog=ReportServer;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TwitterCloneDbContext-Web.config Connection String">
      <ParameterValue>Data Source=dotnet;Initial Catalog=ReportServer;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>